APP_NAME=
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=example_app
DB_USERNAME=root
DB_PASSWORD=

APP_ENV=production
PDF_STORAGE_PATH=storage/pdfs/
PDF_MAX_CONTENT_LENGTH=1000000
ALLOWED_HTML_TAGS=<h1><h2><h3><p><b><i><u><br><hr>